@font-face {
	font-family: OpenSans;
	src: url("fonts/OpenSans-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	margin: 0px;
	background: rgba(243, 236, 236, 1);
}

h1,h2,h3,h4,p {
	padding: 5px 0;
}

hr {
	margin: 10px 0;
	border: solid 1px black;
}

a {
	color: black;
    font-family: Cormorant Garamond;
    font-weight: Medium;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width:100%;
	object-fit: cover;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

.text-small {
	font-size: 12pt;
	color: gray;
}

form {
	width: 60%;
	margin: 0 auto;
}

form.w100 {
	width: 100%;
}

form div.part {
	display: flex;
	align-items: center;
}

form div.part > *:nth-child(1) {
	margin-right: 10px;
}

input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

input,select,textarea,button {
	width: 100%;
	height: 50px;
	outline: none;
	margin: 10px 0;
	transition: .2s;
	font-size: 14pt;
	padding-left: 10px;
	border-radius: 5px;
	font-family: OpenSans;
	border: solid 1px black;
}

input[type=file] {
	padding: 0;
	border:  none;
	height: 30px;
}

input[type=checkbox] {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

textarea {
	padding: 10px;
	height: 100px;
}

button {
	padding: 0;
    width: 180px;
    cursor: pointer;
    border: none;
    color: black;
    background-color: #cfc1c1;
}
.register{
	padding: 0;
    width: 100%;
    cursor: pointer;
    border: none;
    color: black;
    background-color: #cfc1c1;
}
p{
	font-size: 20px
}
h3{
	font-size: 20px
}

div.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

div.message {
	font-size: 20pt;
	color: gray;
	text-align:center;
	margin: 40px 0;
}
.head {
	border-bottom: solid 2px black;
	padding: 10px 0;
	margin-bottom: 20px;
}
div.head {
	border-bottom: solid 2px black;
	padding: 20px 0;
	margin: 40px 0 30px;
	font-size: 30px;
	text-align: center;
}

div.wrap {
	padding: 20px;
	margin: 0 auto;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div.row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

div.row.at {
	align-items: flex-start;
}

div.col {
	width: 32%;
	padding: 20px;
	transition: .2s;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: white;
	border: solid 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div.col img {
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
}

/* О НАС */
.section-promo {
  
  width: 100%;
    background: url(../images/v7_53.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}
.promo {
  width: 100%;
  height: 758px;
  background: rgba(236,219,219,1);
  opacity: 1;
  display: flex;
  
}
.section-promo-text{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-end;
		text-decoration: none;
}
.promo-text-1 {
  width: 934px;
  color: rgba(36,36,36,1);
  font-family: Cormorant Garamond;
  font-weight: Medium;
  font-size: 75px;
  opacity: 1;
  text-align: center;
  margin-bottom: 30px;
	text-decoration: none;
}
.promo-text-2 {
  width: 934px;
  color: rgba(36,36,36,1);
  font-family: Cormorant Garamond;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  margin-top: 30px;
	text-decoration: none;
}
.promo-img {
  width: 660px;
  height: 745px;
  background: url("../images/promo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.promo-text {
  width: 192px;
  color: rgba(60,59,59,1);
  font-family: Cormorant Garamond;
  font-weight: Medium;
  font-size: 54px;
  opacity: 1;
  text-align: center;
}



/* ШАПКА САЙТА*/
.header {
  width: 100%;
  height: 845px;
  background: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  margin-top: 40px;
    background-color: #ffffff45;
    border-top: solid 3px #e3d9d9;
}
/* секция с логотипом и меню */
.header-one {
  width: 98%;
  height: 48px;
  opacity: 1;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

 /* логотип */
 .logo {
  width: 253px;
  color: rgba(255,255,255,1);
  font-family: Yeseva One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
  margin-left: 20px;
}

/* меню */
.menu {
  width: 858px;
  height: 40px;
  background: url("../images/v7_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.menu-text {
  width: 100px;
  color: rgba(255,255,255,1);
  font-family: Cormorant Garamond;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
}

/* девиз компании */
.deviz{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 207px;
	text-decoration: none;
}
.deviz-text {
  width: 934px;
  color: rgba(255,255,255,1);
  font-family: Cormorant Garamond;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.button-katalog{
  width: 400px;
  height: 82px;
  background: rgba(233,231,231,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgba(0,0,0,1); 
  font-family: Roboto;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}





header {
	
  margin-top: 40px;
    background-color: #ffffff45;
    border-top: solid 3px #e3d9d9;
}




header div.top {
	padding: 194px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: solid 3px black;
	background-image: url("images/header.jpg");
	background-size: 100%;
	background-attachment: fixed;
  margin-top: 40px;
    background-color: #ffffff45;
    border-top: solid 3px #e3d9d9;
}

header div.top a:hover {
	text-decoration: none;
}

header div.top img {
	width:70px;
	height:50px;
	margin-right:20px;
	object-fit: inherit;
}

header ul, footer ul  {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header ul li, footer ul li {
	width: 100%;
	padding: 20px 0;
	transition: .2s;
	text-align: center;
}

header button, footer button {
	
	margin: 0;
}

main {
	min-height: calc(100vh - 400px);
}

main div.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main div.product > div {
	width: 49%;
	flex-shrink: 0;
}

main div.product div.image {
	text-align: center;
}

main div.product img {
	height: 300px;
}

footer {
	margin-top: 40px;
    background-color: #ffffff45;
    border-top: solid 3px #e3d9d9;
}

/*SLIDER*/
div#slider {
	position: relative;
	padding: 10px 5px;
	overflow: hidden; 
}

div#slider div.slides {
	position: relative;
	display: flex;
	transition: .4s;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
}

div#slider div.slides div.slide {
	flex-shrink: 0;
	text-align:center;
	margin-right: 20px;
	margin-bottom: 0;
}

div.slide img {
	margin-bottom: 10px;
}

/*FILTRATION*/
span {
	color: black;
    font-family: Cormorant Garamond;
    font-weight: Medium;
    font-size: 20px;
    text-decoration: none;
}

span:hover {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

select#category {
	max-width: 30%;
}